#page-header {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
  background-color: #ffbdbd;
  background-image: url("https://www.transparenttextures.com/patterns/light-wool.png");
}

#page-header div img {
  margin-top: 10px;
}

#page-header div h2 {
  margin-bottom: 10px;
}