nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5em;
  width: 100%;
  padding: 1.5em;
  background-color: rgb(121, 0, 80);
  background-image: url("https://www.transparenttextures.com/patterns/light-wool.png");
  font-family: "Source Sans Pro", sans-serif;
  color: #FFFFFF;
}

nav span {
  font-family: "Bungee", sans-serif;
}

#new-tweet-button {
  border: none;
  color: inherit;
  background-color: inherit;
}

@media only screen and (min-width: 768px) {

  nav {
    background-color: #4056A1;
    background-image: none;
  }

}