.new-tweet {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
}

main section h2 {
  display: inline-block;
  margin-top: 1em;
}

#tweet-text {
  height: 1.5em;
  border-width: 0px 0px 3px 0px;
  margin: 0 0 1em 0;
  border-color: #545149;
  background: transparent;
  resize: none;
  outline: none;
  color: #545149;
  font-weight: 700;
}

.new-tweet form div {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", sans-serif;
}

#tweet-button {
  background-color: #4056A1;
  color: white;
  font-size: 16px;
  padding: 6px 10px;
}

.error {
  display: none;
  border: 1px solid;
  margin: 10px 0px;
  padding: 15px 10px 15px 50px;
  font-size: 16px;
  color: rgb(189, 44, 0);
  background-color: #FFCCBA;
  background-image: url('../images/error.png');
  background-repeat: no-repeat;
  background-position: 10px center;
}

.negative {
  color: red;
}

@media only screen and (min-width: 768px) {
  
  #tweet-button {
    font-size: 18px;
  }

  .error {
    font-size: 18px;
    margin: 2.5em 0 0 0;
  }
}